<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>IC3-2021</title>
<meta name="keywords" content="IC3, IC3 2021, International Conference, Contemporary, Computing, jiit, University of Florida" />
<meta name="description" content="2021 Thirteenth International Conference on Contemporary Computing" />
<link href="ic3_style.css" rel="stylesheet" type="text/css" />
<style type="text/css">
.auto-style3 {
	text-decoration: underline;
}
#menu-bar li{
        padding: 0px 1px 0px 6px;
    }
</style>
</head>

<body>

  <div id="ic3_container">       
  <div class="ic3_line"></div> 
  <div id="ic3_header"></div>

	<div class="ic3_menu">
	  <ul id="menu-bar">
		 <li class="active"><a href="index.html">Home</a></li>
		 <li class=""><a href="prev_conf.html" target="_blank">Previous Conferences</a></li>
		 <li><a href="#">Committee</a>
		  <ul>
		   <li><a href="orgco.html">Organizing Committee</a></li>
		   <li><a href="tpc.html">Technical Program Committee</a></li>	   
		  </ul>
		 </li>
		 <li><a href="#">Authors</a>
		  <ul>
		   <li><a href="cfp.html">Call for Papers</a></li>
		   <li><a href="psg.html">Paper Submission Guidelines</a></li>
		   <li><a href="crg.html">Camera Ready Guidelines</a></li>	   
		  </ul>
		 </li>
		 <li><a href="keynote.html">Keynotes</a>
		  
		 </li>
		 <li class=""><a href="registration.html">Registration</a></li>	 
		 <li><a href="contactus.html">Contact Us</a></li>
 		 <li><a href="#">General Info.</a>
			 <ul>
					<li><a href="information.html">Tourism</a></li>
			 </ul>
			</li>
	  </ul>
	</div>   
      

  <div id="ic3_content" class="auto-style1">
	   <div id="ic3_left_column">
	   
	    <div class="section_box3" align="justify">
	        <div class="subtitle" >Latest Information</div>
	          <li align="justify"> <a href="files/cfp_ic3_2021.pdf" target="_blank">Click to Download CFP IC3-2021 </a> 
			   </li><br/> 
			   <li align="justify">
			   Submit the papers online at <a href="https://www.edas.info/newPaper.php?c=27809" target="_blank"><b>EDAS</b></a>.
			    </li><br/>
			   <li align="justify">
				Extended version of selected accepted papers of IC3-2021 will be submitted in reputed SCOPUS/SCIE indexed journals. IC3-2021 so far has four participating journals. More reputed Scopus Indexed journal will be included.
				<img alt="New" longdesc="file:///E:/IC3/IC3_2021/images/new.gif" src="images/new.gif" width=25/>
			</li><br/>
			<li align="justify">
				Due to on-going pandemic situation, IC3 2021 will be conducted in mixed mode, i.e. physical/ face to face mode as well as in virtual mode for those participant & authors who will be unable to travel.
		    </li><br/>
			  <li align="justify"> Proceedings to be published in ACM ICPS ISBN Number: 978-1-4503-8920-4 </li> <br />
	          <li align="justify"> Google scholar metrics shows h5-index is 15 and h5-median is 
			  20 for IC3 </li> <br /> 
			  <li align="justify"> Proceedings of IC3 2009 to IC3 2019 are indexed by SCOPUS as well as DBLP </li> <br /> 
			  <li align="justify"> IC3-2020 (Could not held Due to COVID) </li> <br />
	      </div>	
		
	  </div>
      
      <div id="ic3_middle_column" style="height: 300px; width: 50%;">      
          
      <div class="slideshow-container">

		<div class="mySlides">		  
		  <img src="./images/000_2019.jpg" style="width:100%">
		  <div class="text">Prof. SC Saxena, Vice-chancellor, JIIT with Prof. Sundaraja Sitharama Iyengar, Program Chair in IC3-2019</div>
		</div>

		
		<div class="mySlides">		 
		  <img src="./images/2.jpg" style="width:100%">
		  <div class="text">Prof. Sartaj Sahni, General Co-Chair, IC3, UFL, USA</div>
		</div>
		
		<div class="mySlides">		 
		  <img src="./images/01_2019.jpg" style="width:100%">
		  <div class="text">Prof. Kavita Bala Cornell University, USA, in IC3-2019.</div>
		</div>

	   <div class="mySlides">		 
		  <img src="./images/02_2019.jpg" style="width:100%">
		  <div class="text">Prof. Ratnesh Kumar, Iowa State University, USA, in IC3-2019.</div>
		</div>

	   
	   <div class="mySlides">		 
		  <img src="./images/03_2019.jpg" style="width:100%">
		  <div class="text">Prof. Christos Douligeris, University of Piraeus, Greece, in IC3-2019.</div>
		</div>


	   <div class="mySlides">		 
		  <img src="./images/04_2019.jpg" style="width:100%">
		  <div class="text">Prof. Sanjay Ranka, University of Florida, USA, in IC3-2019.</div>
		</div>


	   <div class="mySlides">		 
		  <img src="./images/05_2019.jpg" style="width:100%">
		  <div class="text">Prof. Mainak Chaudhuri, IIT Kanpur, India, in IC3-2019.</div>
		</div>


	   <div class="mySlides">		 
		  <img src="./images/06_2019.jpg" style="width:100%">
		  <div class="text">Prof. Soundar Kumara, Penn State College of Engineering, USA, in IC3-2019.</div>
		</div>


	   <div class="mySlides">		 
		  <img src="./images/07_2019.jpg" style="width:100%">
		  <div class="text">Prof. Inderjit Dhillon, University of Texas at Austin, USA. in IC3-2019</div>
		</div>

		
		<div class="mySlides">	
		  <img src="./images/3.jpg" style="width:100%">
		  <div class="text">Sh. Dhanendra Kumar, Chairman, Competition Commission of India</div>
		</div>
		
		<div class="mySlides">		
		  <img src="./images/4.jpg" style="width:100%">
		  <div class="text">Prof. Shamkant B. Navathe, Georgia Institute Of Technology, Atlanta, in IC3-2018</div>
		</div>
		
		<div class="mySlides">		
		  <img src="./images/5.jpg" style="width:100%">
		  <div class="text">Prof. Rakesh Agrawal, President and Founder, Data Insights Laboratories, in IC3-2018</div>
		</div>

		<div class="mySlides">		
		  <img src="./images/6.jpg" style="width:100%">
		  <div class="text">Prof. Subhash Bhalla, IIT Delhi, India, in IC3-2018</div>
		</div>
		
		<div class="mySlides">		
		  <img src="./images/7.jpg" style="width:100%">
		  <div class="text">Prof. Manish Parashar, IEEE fellow, in IC3-2016 </div>
		</div>
		
		<div class="mySlides">		
		  <img src="./images/8.jpg" style="width:100%">
		  <div class="text">Prof. Timothy A. Gonsalves,IIT Mandi, in IC3-2016</div>
		</div>
		
		<div class="mySlides">		
		  <img src="./images/9.jpg" style="width:100%">
		  <div class="text">Prof. K. Gopinath, IISc Banglore, in IC3-2015</div>
		</div>

		<div class="mySlides">		
		  <img src="./images/10.jpg" style="width:100%">
		  <div class="text">Prof. Ramesh Jain ,University of California, in IC3-2015</div>
		</div>
		
		<div class="mySlides">		
		  <img src="./images/11.jpg" style="width:100%">
		  <div class="text">Prof. Shashi Shekhar,University of Minnesota,in IC3-2015</div>
		</div>
		
		<div class="mySlides">		
		  <img src="./images/12.jpg" style="width:100%">
		  <div class="text">Prof. Yuanyuan Yang,Stony brook University, in IC3-2015</div>
		</div>
		
		<div class="mySlides">		
		  <img src="./images/13.jpg" style="width:100%">
		  <div class="text">Prof. H. J. Siegel, Colorado State University, USA, in IC3-2014</div>
		</div>

		<div class="mySlides">		
		  <img src="./images/14.jpg" style="width:100%">
		  <div class="text">Prof. Martin Henson, University of Essex, UK, in IC3-2014</div>
		</div>
		
		<div class="mySlides">		
		  <img src="./images/15.jpg" style="width:100%">
		  <div class="text">Prof. Dinesh Manocha, Universit y of North Calorina, USA, in IC3-2013</div>
		</div>
		
		<div class="mySlides">		
		  <img src="./images/16.jpg" style="width:100%">
		  <div class="text">Prof. H. T. Kung, Havard University, in IC3-2012</div>
		</div>
		
		<div class="mySlides">		
		  <img src="./images/17.jpg" style="width:100%">
		  <div class="text">Prof. Arvind, Massachusetts Institute of Technology, in IC3-2010</div>
		</div>

		<div class="mySlides">		
		  <img src="./images/18.jpg" style="width:100%">
		  <div class="text">Oscar H. Ibarra,University of California, USA, in IC3-2009</div>
		</div>
		
		<div class="mySlides">		
		  <img src="./images/19.jpg" style="width:100%">
		  <div class="text">Prof. Viktor K. Prasanna, University of southern California, in IC3-2009</div>
		</div>
				
		<br/>
		
		<div style="text-align:center">
		  <span class="dot"></span> 
		  <span class="dot"></span> 
		  <span class="dot"></span> 
   	      <span class="dot"></span> 
	       <span class="dot"></span> 
		  <span class="dot"></span> 
		  <span class="dot"></span> 
   	      <span class="dot"></span> 
		  <span class="dot"></span> 
		  <span class="dot"></span> 
		  <span class="dot"></span> 
   	      <span class="dot"></span> 
	       <span class="dot"></span> 
		  <span class="dot"></span> 
		  <span class="dot"></span> 
   	      <span class="dot"></span> 
		  <span class="dot"></span> 
		  <span class="dot"></span> 
   	      <span class="dot"></span> 
   	      
	       <span class="dot"></span> 
		  <span class="dot"></span> 
		  <span class="dot"></span> 
   	      <span class="dot"></span> 
		  <span class="dot"></span> 
		  <span class="dot"></span> 
   	      <span class="dot"></span> 


		</div>
		
		</div>
		
		<script>
			var slideIndex = 0;
			showSlides();
			
			function showSlides() {
			    var i;
			    var slides = document.getElementsByClassName("mySlides");
			    var dots = document.getElementsByClassName("dot");
			    for (i = 0; i < slides.length; i++) {
			       slides[i].style.display = "none";  
			    }
			    slideIndex++;
			    if (slideIndex > slides.length) {slideIndex = 1}    
			    for (i = 0; i < dots.length; i++) {
			        dots[i].className = dots[i].className.replace(" active", "");
			    }
			    slides[slideIndex-1].style.display = "block";  
			    dots[slideIndex-1].className += " active";
			    setTimeout(showSlides, 5000); // Change image every 2 seconds
			}
		</script>
		
	  <br/><br/>
      <div  align="justify">      
   	 		The International Conference on Contemporary Computing (IC3) is jointly organized every year since 2008
			by the Jaypee Institute of Information Technology (JIIT), Noida, India and the University of Florida,
			Gainesville, USA. It focuses on topics that are of contemporary interest to computer and
			computational scientists and engineers. IC3-2021 will bring together researchers and practitioners
			from academia, industry and government to deliberate upon the algorithmic, systemic, applied, and
			educational aspects of contemporary computing. The conference is held in NOIDA (outskirts of New
			Delhi), India, and typically features multiple eminent keynote speakers, and presentation of more than
			100 peer reviewed papers and exhibits.
		 </div>
		 <br/>
		 		 <div class="section_box" align="justify">
	        <div class="subtitle" > Key Persons of IC3-2021</div>  
	     </div>
	     <br/>
	     <table style="width: 100%">
			<tr>
				
				<td style="width: 209px">
					<center>
					<img alt="Prof Sahni" src="images/sahni3.jpg" height="150" width="120"/> <br/>
					Prof. Sartaj Sahni,<br />
					General Co-Chair, IC3,<br/> University of Florida, USA </center>
				</td>
				
				<td>
					<center>
					<img alt="Prof Iyengar" src="images/Iyengar.jpg" height="150" width="120"/> <br/>
					Prof. S S Iyengar, <br />
					Program Chair, IC3,<br/> Florida International University, USA.
					</center>
				</td>
			   
			</tr>
		</table>
		<br/>
		<div class="subtitle" > Participating Journals</div>
		<div  align="justify">
			Extended version of selected accepted papers of IC3-2021 will be submitted in reputed SCOPUS/SCIE indexed journals. IC3-2021 so far has four participating journals. More reputed Scopus Indexed journal will be included. Track wise list of journals is given below: <br/><br/>
			<br/>
			<a href="https://www.journals.elsevier.com/journal-of-network-and-computer-applications" target="_blank">
			1. Network and Social Computing Track- Elsevier 's Journal of Network and Computer Applications [ Indexed in Science Citation Index Expanded, Scopus Cite Score: 13.8, Impact Factor: 5.570 ]
			</a><br/><br/>
			<a href="https://www.journals.elsevier.com/theoretical-computer-science" target="_blank">
			2. Computer Algorithms and Applications Track- Elsevier’s Theoretical Computer Science [ Indexed in Science Citation Index Expanded, Scopus ]
			</a><br/><br/> 
			<a href="https://www.igi-global.com/journal/international-journal-multimedia-data-engineering/1118" target="_blank">
			3. Data and Cloud Computing Track- International Journal of Multimedia Data Engineering and Management [Indexed in Web of Science Emerging Citation Index (ESCI), UGC-CARE List (India)]
			</a><br/><br/>
			<a href="https://content.sciendo.com/view/journals/fcds/fcds-overview.xml" target="_blank">
			4. Intelligent computing Track- Foundations of Computing and Decision Sciences (FCDS) journal [Indexed in Scopus]
			</a><br/><br/>
			5. System and Software Engineering Track – To be added soon
			<br/><br/>
			<br/>
		</div>
		<br/>
	     <div class="section_box" align="justify">
	        <div class="subtitle" > Keynote and Invited Speakers  </div>  
	     </div>
		 
	    
	     <br/>	       
	 	<table style="width: 100%">
			<tr>			
				
				<td>
					<center>
					<img alt="Prof Bhargava" src="images/bb.jpg" height="150" width="120"/> <br/>
					Prof. Bharat K. Bhargava, <br/> Purdue Univesity, USA.
					</center>
				</td>
			   
			</tr>

		 </table>	<br/><br/>		
			
		
		</div>
	    
	 <div id="ic3_right_column" style="height: auto; width: 24%;"> 
	 
	  	<div class="section_box3" align="justify">
	        <div class="subtitle">Important Dates</div>
	           <span class="auto-style3">Conference Date</span> <br />
  	           05-07 August, 2021 <br />
  	           <span class="auto-style3">Full Paper Submission</span> <br />
  	           15<sup>th</sup> April, 2021 <br />
  	           <span class="auto-style3">Author Notification</span> <br />
  	           10<sup>th</sup> June, 2021 <br />
  	           <span class="auto-style3">Final Paper Submission</span> <br />
  	           20<sup>st</sup> June, 2021 <br /> <br/>
  	           
  	           <b> Due to on-going pandemic situation, IC3 2021 will be conducted in mixed mode, i.e. physical/ face to face mode as well as in virtual mode for those participant & authors who will be unable to travel.</b>
				
		   </div>	
		   
		<div class="section_box3" align="justify">
	      <div class="subtitle" > Proceedings</div>  
	    <div  align="justify">
		Accepted papers, only when presented in the Conference by duly registered authors, will be submitted for inclusion to ACM ICPS ISBN Number:  978-1-4503-8920-4 <br/><br/>
	     </div> <center>
		<img alt="ACM ICPS" height="100" longdesc="file:///E:/IC3/IC3_2021/images/ACM_ICPS_v.2B.jpg" src="images/ACM_ICPS_v.2B.jpg" width="150" /><br /><br/>
		<span class="auto-style3">IC3 Publishers</span> <br />
		2013-2019 - IEEE <br /> 			
		2009-2012 - Springer <br />
		2008 - Macmillan <br />
		</center>
		<br/>

		
		</div>
	 </div>

</div>	

<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>





<div id="ic3_footer" align="center">
    Copyright © 2008-2020 JIIT, Noida.    
</div>

</div>
</body>
</html>